/* Naming Convention
Block = .block
element = .block__element
modifier = .block__element--modifier
            .block--modifier
*/


/* ----------- Blocks -------------- */

.form {
  display: flex;
  flex-wrap: wrap;
}
.section {
  margin-left: 5%;
}

/* ------------ Elements --------------- */

.header__image {
    max-width: 100%;
    height: auto;
}

.form__msg {
  height: 100px;
  width: 80%;
  min-width: 15rem;
}

.form__button {
  margin-top: 1rem;
}

/* -------------Modifiers --------------- */

.form--right {
  margin-top: 1rem;
  min-width: 50%;
  max-width: 100%;
}
.form--left {
  margin-top: 1rem;
  min-width: 50%;
  max-width: 100%;
}

.form__button--wrapper {
  width: 100%;
}
